
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.main-content  .first-section img {
    width:25%;
    height:auto;
}

*{

    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: #fff;
    font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
    font-size:14px;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Alegreya Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul {

    list-style-type: none;
    text-decoration: none;
}

.main-header .desktop{
    display: none;

}

.main-header .mobile{
    text-align:center;
}

/*mobile nav*/
.topnav #my-links{
    display: block;
}

.topnav  #my-links a{
    display: block;
    margin: 0;
}
 /* staylong nav menu links*/
.topnav  a{
    padding-top: 9px;
    color:blue;
    font-weight: bold;
    font-size:17px;
    display: inline-block;
}

.topnav a.icon .fas.fa-bars{
    margin-top: 18px;
    width:36px;
    height:34px;
    background-color:#ddd;
    border-radius: 6px;
    padding-top: 10px;
    border:transparent;
    outline:none;

}