
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.main-content .main-content__image  img {
    width:100%;
    height:auto;
}

*{

    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: #fff;
    font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
    font-size:14px;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Alegreya Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul {

    list-style-type: none;
    text-decoration: none;
}

.main-header .desktop{
    display: none;

}

.main-header .mobile{
    text-align:center;
}

/*mobile nav*/
.topnav #my-links{
    display:none;
}

.topnav  #my-links a{
    display: block;
    margin: 0;
}
 /* staylong nav menu links*/
.topnav  a{
    padding-top: 9px;
    color:blue;
    font-weight: bold;
    font-size:17px;
    display: inline-block;
}

.topnav a.icon .fas.fa-bars{
    margin-top: 18px;
    width:36px;
    height:34px;
    background-color:#ddd;
    border-radius: 6px;
    padding-top: 9px;
    border:transparent;
    outline:none;

}

/*styling main title*/

.main-title{
    text-align:center;
    margin-top: 65px;

}


.main-title .main-title__heading{
    font-size: 44px;
    color:#000;
    font-weight:500;
    font-family: Alegreya Sans, Arial, Helvetica, sans-serif;

}

.main-title .main-title__owner{
    color:#9c9c9c;
    font-size: 22px;
    font-weight:650;
    letter-spacing:0.3px;
    margin-top: 20px;
    margin-bottom:75px;
}


.main-content__heading{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 10px;
    margin-bottom: 10px;


}


.main-content__heading .line-color{
    border: 10px solid blue;
    border-radius: 3px;
}


.main-content{
    margin:10px;
}

.main-content .main-content__heading h3{
    margin-bottom:10px;
    margin-top: 10px;
}


.main-content  .main-content__image {
    text-transform:lovercase;
    font-size:55px;
    margin-bottom:26px;
    
}